<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Data Master</li><li>Lisensi</li><li><%= label %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-license">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= label %> Lisensi</h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @license, html: {class: "smart-form", id: "form-update-verify"} do |f| %>
              <fieldset>
                <div class="row">
                  <section class="col col-md-6">
                    <section>
                      <label class="col-md-5 label">Kode</label>
                      <label class="col-md-7 input custom-input-box">
                        <%= f.text_field :code, class: "input-sm #{(error_field @license, :code)}", :placeholder => "Auto Generate", disabled: true %>
                      </label>
                    </section>
                    <section>
                      <label class="col-md-5 label">Jumlah yg akan digenerate <span class='important'>*</span></label>
                      <label class="col-md-7 input custom-input-box"><%= number_field_tag :jumlah, :class => "input-sm", value: 1, min: 1 %>
                      <%= f.hidden_field :name, :value => "Belum Digunakan" %></label>
                    </section>
                  </section> <!-- col-md-12 -->
                </div> <!-- row -->
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                  Back
                </button>
              </footer>
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->