<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@fingerprint, html: { role: "form", multipart: true}, remote: true) do |f| %>
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= (params[:action].capitalize + ' Fingerprint') %></h4>
      </div>

      <div class="modal-body">
        <div id="error_explanation">
          <% if @fingerprint.errors.any? %>
            <%= render 'error_message', :fingerprint => @fingerprint %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autocomplete: "off", class: "form-control", placeholder: "Name", :required => true %>
        </div>

        <div class="form-group">
          <%= f.label :ip_address%>
          <%= f.text_field :ip_address, autocomplete: "off", class: "form-control", placeholder: "", :required => true %>
        </div>

        <div class="form-group">
          <%= f.label :port %>
          <%= f.number_field :port, autocomplete: "off", class: "form-control", placeholder: "Port", :required => true %>
        </div>

        
      </div>

      <div class="modal-footer">
        <%= button_tag "Submit", class: "btn btn-success", type: "submit" %>
        <%= button_tag "Cancel", :"data-dismiss" => "modal", class: "btn btn-default", type: "button" %>
      </div>
    <% end %>
  </div>
</div>
