<table class="table no-more-tables table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ip Address</th>
            <th>Port</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id='dataTable'>
      <% if fingerprints.count > 0 %>
        <% fingerprints.each do |fingerprint| %>
                <tr class="new-rec" id="data_<%= fingerprint.id %>">
                    <td><%= fingerprint.name %></td>
                    <td><%= fingerprint.ip_address%></td>
                    <td><%= fingerprint.port%></td>
                    <td>
                      <%= link_to edit_fingerprint_path(fingerprint.id), :class => 'fa fa-pencil', remote: true do %><% end %>
                      
                      <%= link_to '', fingerprint, :method => :delete, :data => {:confirm => "You Sure?"}, :class => 'fa fa-trash-o' %>
                    </td>
                </tr>
            <% end %>
        <% else %>  
          <tr>
            <td colspan="6" align="center">No fingerprint data found!</td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="row dataTables_wrapper">
  <div class="col-md-12">
      <div class="dataTables_paginate paging_bootstrap pagination">
          <%= pagination_links(fingerprints, :params => {:controller => controller_name, :action => action_name, :fingerprint => {:name => (params[:fingerprint][:name] if params[:user].present?), :ip_address => (params[:fingerprint][:ip_address] if params[:user].present?), :port => (params[:fingerprint][:port] if params[:user].present?)}}) %>
        </div>
        <% base = (params[:page].present? ? params[:page].to_i-1 : 0)*fingerprints.per_page %>
      <% if fingerprints_count > 0 %>
          <div class="dataTables_info">Showing <b><%= base+1 %> to <%= base+fingerprints.per_page %></b> of <%= @fingerprints_count %> entries</div>
      <% end %>
    </div>
</div>