<div class="container-fluid">
  <ul class="breadcrumb">
        <li><p>YOU ARE HERE</p></li>

        <li><a href="#" class="active">Fingerprint</a></li>
    </ul>
    
    <div class="page-title">  
      <i class="fa fa-user"></i>
      <h3>Fingerprint</span></h3> 
    </div>  
    <div class="grid simple">
      <div class="grid-title no-border"></div>
      <div class="grid-body no-border">
      <div class="row toolbar-block">
              <div class="col-md-4">
                  <div class="dataTables_filter" id="example3_filter">
                      <div class="controls">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search Record">
                              <span class="input-group-addon ">
                                <i class="fa fa-search"></i>
                              </span>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="col-md-8">
                  <div class="toolbar pull-right" id="toolbar_main">
                      <%= link_to new_fingerprint_path, id: "editable-sample_new", class: "btn btn-primary", remote: true do %>
                        Add New <i class="fa fa-plus"></i>
                      <% end %>

                            <div class="btn-group">
                              <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="fa fa-gear"></span> <span class="caret"></span></button>
                                <ul class="dropdown-menu right-edge">
                                  <li><%= link_to "Export to CSV", fingerprints_path(format: "csv") %></li>
                                  <li><%= link_to "Export to Excel", fingerprints_path(format: "xls") %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                  <div class="toolbar pull-right hide" id="toolbar_upload">
                      <div class="table-tools-actions">
                          <button class="btn"><span class="fa fa-cloud-upload"></span> Upload</button>
                            <div class="separator">&nbsp;</div>
                        </div>
                    </div>
                  <div class="toolbar pull-right hide" id="toolbar_def">
                      <div class="table-tools-actions">
                          <button class="btn"><span class="fa fa-edit"></span> Edit</button> 
                            <button class="btn" data-toggle="modal" data-target="#confirm_modal"><span class="fa fa-trash"></span> Remove</button> 
                            <div class="separator">&nbsp;</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id='table_list'>
              <%= render 'table_list', :fingerprints => @fingerprints, :fingerprints_count => @fingerprints_count %>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
  <%= render 'new' if action_name == "create" %>
  <%= render 'edit' if action_name == "update" %>
</div>
