<% @provinces.each_with_index do |province, i| %>
  <tr>
    <td class="hidden-phone"><%= params[:page] ? (params[:page].to_i*10+i-9) : i+1 %></td>
    <td class="hidden-phone"><%= province.wilayah_code rescue '' %></td>
    <td class="hidden-phone"><%= province.wilayah_name rescue '' %></td>
    <td><span class="name"><%= province.code rescue ''%></span></td>
    <td class="hidden-phone"><%= province.name rescue ''%></td>
    <td class="hidden-phone">
      <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_province_path(province), class: "btn btn-primary btn-xs" %>
      <%= link_to raw('<i class="fa fa-trash-o"></i>'), 'javascript:void(0)', onclick: "delete_one(#{province.id}, 'provinces')", class: "btn btn-danger btn-xs" %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan=8>
    <%= will_paginate @provinces %>
  </td>
</tr>